{% extends "base.html" %}

{% block content %}
<style>
      label:nth-of-type(1){
        display: none;
    }
    select#id_user{
        display: none;
    }
</style>
<div style="display:none;" id="myDiv" class="animate-bottom">
<div class="col-md-6 mx-auto ">
    <form action="" method="post">
        {% csrf_token %}
        {{form}}
        <button type="submit" class="btn btn-warning mt-2">Update</button>
    </form>
</div>
    
</div>
<script>
    var form_field = document.getElementsByTagName('input')

for(var form in form_field){
 form_field[form].className = "form-control"
}
    var form_field2 = document.getElementsByTagName('select')

for(var form in form_field2){
 form_field2[form].className = "form-control"
}
</script>
{% endblock content %}